@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap");

body {
    font-family: "Arvo", serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header b {
    font-size: 1.5rem;
}

#tools {
    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
    display: flex;
    gap: 1rem;
}

#tools span {
    font-size: 1rem;
    /* center vertically */
    display: flex;
    align-items: center;
}

#tools #action {
    background-color: #555;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
}

#tools button#run {
    background-color: #555;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
}

#editor {
    width: 100%;
    height: 50vh;
    border: 1px solid #ccc;
}

#output {
    /* Monospace tui-style output */
    font-family: monospace;

    width: 100%;
    height: 50vh;
    border: 1px solid #ccc;
    padding: 1rem;
    white-space: pre-wrap;
}
